.aboutus-heading{
  font-size: 70px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Lexend Giga", sans-serif;
  /* padding-top: 10%; */
}
.advocate-image{
  /* padding-bottom: 5%; */
  width: 15%;
  padding: 30px;
  height: auto;
  animation: fadeIn 10s ease;
    border-radius: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  transform-style: preserve-3d;
  -webkit-box-reflect: below 1px
  linear-gradient(transparent, rgba(255, 255, 255, 0.03));
}
.advocate-ethics{
  /* text-align: center; */
  font-size: 20px;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 2px;
}
.principles-container{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 2px;
  align-items: center;
}
.advocate-label{
  font-size: 25px;
  padding-bottom: 5%;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 2px;
}
.ethics-container{
  position: relative;
  left: 10%;
}
.advocate-name{
  text-align: center;
  font-size: 50px;
  font-family: "Urbanist", sans-serif;
  /* padding-top: 5%; */
  letter-spacing: 2px;
  /* padding-bottom: 5%; */
}
.advocate-bio{
  text-align: center;
  font-size: 25px;
  font-family: "Urbanist", sans-serif;
  padding: 30px;
  letter-spacing: 2px;
}