.coming-background{
    background: url("https://i3.wp.com/media0.giphy.com/avatars/_canastasia_/8poNkRcUKw0y.gif");
    display: grid;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 20%;
    background-repeat: no-repeat;
}
@media screen and (max-width: 480px) {
    .coming-background{
        background: url("https://i3.wp.com/media0.giphy.com/avatars/_canastasia_/8poNkRcUKw0y.gif");
        background-size: 50%;
        background-repeat: no-repeat;
        margin-top: 50%;
    }
}